@CHARSET "UTF-8";
.spanLink {
	cursor: pointer;
}
.map {
	height: 400px;
	width: 400px;
	border: #000000 1px double;
}

.activeCount{
	margin-top: 20px;
	padding-left: 10px;
	text-align: left;
	border: #000000 1px solid;
}

.favLocation{
	padding-left: 10px;
	margin-top: 10px;
	text-align: left;
	border: #000000 1px solid;
}

.favTitle{
	border-bottom:  #000000 1px solid;
}

.favList{
	margin-left: 10px;
}

.map{
	width: 400px;
	height: 400px;
}

.personalInfo{
	text-align: left;
	border: #000000 1px solid;
}

.submitList,.joinList,.viewList{
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
}

.sListTitle,.jListTitle,.vListTitle{
	border-bottom: #000000 2px solid;
}

.listDiv{
	border: #000000 1px solid;
	padding-bottom: 10px;
	margin-right: 1px;
}

.clickSpan{
	text-decoration: underline;
	display: block;
	font-size: 14px;
}

.sList{
	margin-left: 10px;
}

.cntlist,.submitTime{
	font-size: 12px;
}

.cntList{
	margin-left: 10px;
}

.cnt{
	margin-left: 5px;
	text-decoration: underline;
	color: #0000FF;
}

.oneSubmit{
	margin-bottom: 10px;
	font-size: 14px;
}

.more{
	float: right;
	font-size: 12px;
	cursor: pointer;
}

.pic,.log{
	margin-top: 10px;
	text-align: left;
}

.picTitle,.logTitle{
	width: 100%;
	padding-left: 30px;
	border: #000000 1px solid;
}

.footPic{
	width: 65px;
	height: 65px;
	cursor: pointer;
}

.activeLocation{
	margin-top: 9px;
	font-size: 12px;
}

.guidePic,.onePic{
	padding-top: 10px;
	padding-left: 20px;
	font-size: 14px;
}

.logList,.picList{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
}

.logTitleTxt{
	margin-left: 5px;
}

.oneLog{
	margin-bottom: 6px;
	padding-left: 10px;
}

.oneFav{
	font-size: 14px;
	margin-top: 5px;
}

.favTip{
	font-size: 14px;
	margin-top: 5px;
}

.total{
	margin-left: 20px;
}

.personal{
	text-align: left;
	margin-top: 0;
	border: #000000 1px solid;
}

.logBox{
	width: 120px;
	height: 120px;
	border: #000000 1px solid;
	margin-left: 5px;
	font-size: 11px;
	background-color: #CCCCCC;
	display: inline;
	position: relative;
}

.picBox{
	width: 120px;
	height: 130px;
	border: #000000 1px solid;
	margin-left: 5px;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;	
	display: inline;
	position: relative;
}

.oneLogTitle{
	font-size: 14px;
	font-weight: bold;
	display: block;
}

.monthTitle{
	margin-top: 10px;
	margin-bottom: 10px;
}

.logBox a,.picBox a{
	color: #000000;
	text-decoration: none;
}

.highlight{
	display: none;
	width: 100%;
	height: 100%;
	background-color: #333333;
	position: absolute;
	left: 0;
	top: 0;
	filter: alpha(opacity=90);
	opacity: 0.9;
	z-index: 100;
	text-align: center;
	padding-top: 43px;
	font-size: 20px;
}